parameters:
  level: '8'
  paths:
    - web/modules/custom
  excludePaths:
    - dist
    - vendor
    - */node_modules/*
  ignoreErrors:
    - '#^Unsafe usage of new static#'
    - '#^Call to deprecated method loadRevision#'
